
body {
  background-color: rgb(161, 103, 16);
}

#board {
  width: 440px;
  height: 440px;
  border: 1px solid grey;
  background-color: black;
  position: relative;
}

#gameItem {
  background-color: rgb(211, 135, 73);
  width: 50px;
  height: 50px;
  position: absolute;
/*   left: 100px; */  /* Uncomment if you want to set a "starting" position */
/*   top: 100px;  */  /* Uncomment if you want to set a "starting" position */
}
