
body {
  background-color: rgb(57, 126, 40);
}

#board {
  width: 700px;
  height: 440px;
  border: 1px solid rgba(255, 227, 190, 0.61);
  background-color: rgb(19, 102, 33);
  position: relative;
  left: 300px;
  top: 20px;
  
}

#ball {
  background-color: rgb(2, 51, 24);
  width: 30px;
  height: 30px;
  position: absolute;
  border-radius: 15px;
   left: 650px; 
   top: 250px;  
}
#leftPaddle {
  background-color: rgb(9, 80, 41);
  width: 50px;
  height: 200px;
  position: absolute;
  border-radius: 20px;
   left: 340px; 
   top: 150px;  
}
#rightPaddle {
  background-color: rgb(9, 80, 41);
  width: 50px;
  height: 200px;
  position: absolute;
  border-radius: 20px;
   left: 930px; 
   top: 150px;  
}
#player1 {
  background-color: rgb(9, 80, 41);
  width: 300px;
  height: 100px;
  position: absolute;
   left: 308px; 
   top: 497px; 
   font-size: 200%;
   text-align: center; 
   color: seagreen;
}
#player2 {
  background-color: rgb(9, 80, 41);
  width: 300px;
  height: 100px;
  position: absolute;
   left: 400px; 
   top: 470px;  
  font-size: 200%;
  text-align: center;
  color: seagreen;
}